body {
     background-color:rgb(180, 235, 241);
}


.navbar {
    background-color: rgb(17, 215, 222);
}

.navbar a {
    color:aliceblue;
}

.navbar a:hover {
    color: gold;
}

.navbar a.active {
    color: white !important;
    font-weight: bold;
}


#about {
    padding-top: 56px;
}

.carousel img {
   width:400px;
   height:200px;
 }
